

.home{
    background-image:url('../../assets/img/background/background1.webp');
    background-attachment: fixed;
    background-size:cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.home-content{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#fff;
    width: 65%;
}
.home-title{
    font-size: 3.5rem;
    text-transform: uppercase;
}
.home-desc{
    line-height: 1.5;
    margin: 15px 0px;
    letter-spacing: 2px;
}
.bttn-info{
    margin-right: 10px;
}
.bttn-learn{
    background-color: #6195ff;
    color: #fff;
}
.bttn-info a{
    color: #000;
    text-decoration: none;
    width: 100%;
}
.bttn-learn a{
    color: #fff;
    text-decoration: none;
}
@media(max-width: 492px){
    .home-content{
        margin-top: 30px;
    }
    .home-title{
        font-size: 2.5rem;
    }
    .bttn-info{
        margin: 0;
    }
}