.header{
    width:100%;
    position: fixed;
    z-index: 1;
    background-color:rgba(0,0,0,0.4);
    z-index:10;
}
.header .logo{
    float: left;
    width: 40%;
}
.header .logo img{
    width:20%;
    margin-top: 14px;
}
.header .nav{
    float: left;
    width: 60%;
    text-align: center;
}
.header .nav ul{
    list-style: none;
}
.header .nav ul > li{
    display: inline-block;
}
.header .nav > ul > li > a{
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 27px 12px;
    text-transform: capitalize;
    font-size: 15px;
}

.header .nav > ul > li .active::after,
.header .nav > ul > li a::after
{
    content:"";
    width:0%;
    height: 3px;
    margin-top: 3px;
    background-color: #6195ff;
    display: block;
    transition: width 0.5s;
}
.header .nav > ul > li .active::after{
    width: 100%
}
.header .nav > ul > li:hover ::after{
    width: 100%;
}

.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background-color: #6195ff;
    height: 40px;
    width: 130px;
    text-align: center;
    top: 75%;
    left: -50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}
.dropdown-item a{
    text-decoration: none;
    color:#fff;
    display: block;
    padding: 10px;
    text-transform: capitalize
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}
