*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body {
    font-family: 'Varela Round', sans-serif;
}
.overflow{
    overflow: hidden;
}
.clear{
    clear:both
}
h1, h2, h3, h4, h5, h6 {
    font-family: montserrat,sans-serif;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7)
}
.bttn{
    width: 160px;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    padding: 15px 5px;
    border-radius: 5px;
    border: none;
    background: #fff;
    margin-top: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.hover-opacity:hover{
    opacity: 0.8;
}
.hover-opacity{
    transition: opacity .5s;
}

.section-header{
    margin: auto;
    text-align: center;
    margin: 0px 80px;
}
.section-title{
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.section-header .line{
    width: 60px;
    height:5px;
    background-color: #6195ff;
    display: block;
    margin: 0 auto 70px auto;
}
.pd-y {
    padding: 120px 0;
}
.mg-lr{
    margin: 0 5%;
}
.bg-gray{
    background: #f9f9f9;
}
.icon{
    color: #6195ff;
}
.ltr-effect{
    position: relative;
}
.ltr-effect::after{
    position: absolute;
    content:"";
    width: 0;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    background-color: #333;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: width 0.4s, opacity 0.4s, visibility 0.4s;
}
.ltr-effect:hover::after{
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.ttb-effect{
    position: relative;
}
.ttb-effect::after{
    position: absolute;
    content:"";
    height: 0;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    background-color: #333;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: height 0.4s, opacity 0.4s, visibility 0.4s;
}
.ttb-effect:hover::after{
    opacity: 1;
    visibility: visible;
    height: 100%;
}
